@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #282626;
  --foreground: hwb(194 29% 7%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282626;
    --foreground: hwb(200 91% 8%);
    --beautiful: #24CDD5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* for bording the div */
.box_border{
  border-bottom: 4px solid rgba(0, 0, 0, 0.17);
}

.img_border{
  border: 20px solid rgba(0, 0, 0, 0.17);
}

/* for border bottom to links */
.links_border{
  border-bottom: 1px solid var(--foreground);
}

.links_border:hover{
  border-bottom: none;
  color: var(--beautiful);
}